

html, body {
    background-color:black;
    width:8820px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

.container{
  width: 8820px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* AREA 8-BITS*/

.mariobros{
  width:1740px;
  height: 100%;
  z-index: 22;
  position: relative;
  background:#5c94fc;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  margin-right: 30px;
}

.nube-mario-1{
  background-image:url(../img/bgm1.png);
  width:1740px;
  height:100%;
  top: 0;
  left: 0;
  z-index:1;
}

.nube-mario-2 {
  background-image:url(../img/bgm2.png);
  width:1740px;
  height:100%;
  top: 0;
  left: 0;
  position:absolute;
  z-index:3;

}

.mario-floor {
  background:url(../img/floor.png)repeat;
  background-size:30px;
  padding:0px;
  height:30px;
  width:1740px;
  position: absolute;
  bottom: 0px;
  z-index:15;
}

.portada img {
	max-width: 500px;
	min-width: 300px;
  width: 700px;
  left: 22%;
  top: 15%;
  position: absolute;
  z-index: 3;
  overflow-y: hidden;

}

/*AREA SOUL REAVER*/

.soulreaver{
  width:1740px;
  z-index: 21;
  position: relative;
  background-size:30px;
  height: 100%;
  background:#03322b;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  margin-right: 30px;

}

.soulreaver-floor {
  background:url(../img/floor2.jpg);
  padding:0px;
  height:50px;
  width:1740px;
  position: absolute;
  bottom: 0px;
  z-index:15;
}

/*AREA ZELDA*/

.zelda-a{
  width:1740px;
  height: 100%;
  z-index: 20;
  position: relative;
  background:#4e6ff4;
  background: linear-gradient(#4e6ff4, #c5d1ff);
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  margin-right: 30px;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.zelda-a-b{
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.zelda-b{

  background:black;
  background: linear-gradient(black, #810000, black);
  opacity: 0.3;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  margin-right: 30px;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)


}


.zelda-floor{
  background:url(../img/grass2.png);
  padding:0px;
  height:320px;
  width:1740px;
  position: absolute;
  bottom: 0px;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  z-index:24;
}


/*AREA DRAGON BALL*/
.dbnamek{
  width:1740px;
  height: 100%;
  background:#309c22;
  background: linear-gradient(#309c22, #cee690, white);
  overflow: hidden;
  float: left;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)

}

.dbfloor{
  background:url(../img/namek2.png);
  position: absolute;
  overflow:
  left: 0;
  bottom: 0;
  height: 500px;
  width: 300%;
  z-index: 1;
  -webkit-animation: cloud_one 50s linear infinite;
  -moz-animation: cloud_one 50s linear infinite;
  -o-animation: cloud_one 50s linear infinite;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.pokemon{
  width:1740px;
  height: 100%;
  background:#4e6ff4;
  background: linear-gradient(#4e6ff4, #c5d1ff);
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  margin-left: 30px;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}



.clouds_one {
  background: url("http://www.scri8e.com/stars/PNG_Clouds/zc06.png?filename=./zc06.png&w0=800&h0s=289&imgType=3&h1=50&w1=140");
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_one 250s linear infinite;
  -moz-animation: cloud_one 250s linear infinite;
  -o-animation: cloud_one 250s linear infinite;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_one-poke {
  background: url(../img/pokeclouds.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-animation: cloud_one 250s linear infinite ;
  -moz-animation: cloud_one 250s linear infinite;
  -o-animation: cloud_one 250s linear infinite;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_two {
  background: url("http://freepngimages.com/wp-content/uploads/2016/02/clouds-transparent-background-2.png");
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_two 190s linear infinite;
  -moz-animation: cloud_two 190s linear infinite;
  -o-animation: cloud_two 190s linear infinite;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_two-namek {
  background: url("http://freepngimages.com/wp-content/uploads/2016/02/clouds-transparent-background-2.png");
  position:  absolute ;
  overflow: inherit;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  z-index: 1;
  -webkit-animation: cloud_two 190s linear infinite;
  -moz-animation: cloud_two 190s linear infinite;
  -o-animation: cloud_two 190s linear infinite;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);

}
.clouds_three {
  background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
  position: absolute;
  z-index: -1;

  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_three 300s linear infinite;
  -moz-animation: cloud_three 300s linear infinite;
  -o-animation: cloud_three 300s linear infinite;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}


@-webkit-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_three {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}





@-moz-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_three {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}



.moon-a{
  background: url("../img/moon.png") no-repeat;
  background-size: 200px;
  width: 200px;
  height: 200px;
  left: 80%;
  top: 5%;
  position: relative;
  z-index: 2;
}

.moon-b{
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.moon-crash{
  background-size: 700px;
  position: relative;
  width: 700px;
  height: 700px;
  left: 50%;
  top: 20%;
  z-index: 2;
}

.kidgoku{
  max-width: 500px;
  min-width: 300px;
  width: 200px;
  left: 10%;
  top: 15%;
  position: absolute;
  z-index: 3;
  overflow-y: hidden;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
