/* Galaxy S5 Portrait */
@media only screen and (min-width: 360px)
and (min-height:640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait){

    .container{
      width: 8820px;
      height: 2535px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/* Galaxy S5 landscape */
@media only screen
and (min-width: 640px) and (min-height:360px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape){

    .container{
      width: 8820px;
      height: 1435px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/* Nexus 5X Portrait default*/
@media only screen and (min-width: 412px)
and (min-height:732px)
and (-webkit-device-pixel-ratio: 2.625)
and (orientation: portrait){

    .container{
      width: 8820px;
      height: 2635px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/* Nexus 5X landscape default*/
@media only screen and (min-width: 732px)
and (min-height:412px)
and (-webkit-device-pixel-ratio: 2.625)
and (orientation: landscape){

    .container{
      width: 8820px;
      height: 1535px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/*Nexus 6P portrait*/
@media only screen and (min-width: 412px)
and (min-height:732px)
and (-webkit-device-pixel-ratio: 3.5)
and (orientation: portrait){

    .container{
      width: 8820px;
      height: 2905px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/*Nexus 6P landscape*/
@media only screen and (min-width: 732px)
and (min-height:412px)
and (-webkit-device-pixel-ratio: 3.5)
and (orientation: landscape){

    .container{
      width: 8820px;
      height: 1630px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}


/*iphone 7 portrait*/
@media only screen and (min-width: 375px)
and (min-height:667px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait){

    .container{
      width: 8820px;
      height: 2655px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/*iphone 7 landscape*/
@media only screen and (min-width: 667px)
and (min-height:375px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape){

    .container{
      width: 8820px;
      height: 1500px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/*iphone 7+ portrait*/
@media only screen and (min-width: 414px)
and (min-height:736px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait){

    .container{
      width: 8820px;
      height: 2855px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/*iphone 7+ landscape*/
@media only screen and (min-width: 736px)
and (min-height:414px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape){

    .container{
      width: 8820px;
      height: 1500px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}
