@media only screen
and (min-device-width : 320px) and (max-device-width : 480px){

    .container{
      width: 8820px;
      height: 1900px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-height : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-height : 320px) {
/* Styles */
.container{
  width: 8820px;
  height: 1280px;
  overflow-x: hidden;
  overflow-y: hidden;
}
}
